/* EditMenu.css */
.edit-menu-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .edit-menu-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .edit-menu-options button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ca3433;
    color: white;
  }
  
  .edit-menu-options input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 30px;
  }
  
  .menu-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .menu-table th,
  .menu-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
  }
  